apiVersion: v1
kind: Service
metadata:
  name: example-app
  labels:
    app: example-app
spec:
  ports:
    - port: 8080
  selector:
    app: example-app
    tier: frontend
  type: NodePort

---
apiVersion: apps/v1 # for versions before 1.9.0 use apps/v1beta2
kind: Deployment
metadata:
  name: example-app
  labels:
    app: example-app
spec:
  selector:
    matchLabels:
      app: example-app
      tier: frontend
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: example-app
        tier: frontend
    spec:
      containers:
      - image: ngocng/example-app:latest
        name: example-app
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 8080
          name: example-app
